<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/createInvoice.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
</head>


<body>
    <p class="Home">
        <a href="{% url 'home' %}">Go Back To Home</a>
    </p>
    <div class="box_1">
        <div class="box_2">
            <h1 class="heading">Create Invoice</h1>
            <form method="POST" action="createInvoice">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>

        </div>
    </div>
</body>

</html>