<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/gstNewsUpdate.css'%}"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inconsolata:wght@200..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">

</head>
<body>
    <div class="marquee">
    <marquee width="100%" direction="right" height="40px">GST News And Updates</marquee>
    </div>
    <p class="link"><a href="{% url 'home' %}">Back To Home</a></p>

    <section class="container">
    <div class="side-head">

        <h3>53rd GST Council Meeting</h3>

    </div>
    <div class="content-one">

        <h1 class="Highlights">Highlights from the 53rd GST Council Meeting</h1>
        <h2 class="Highlights">Ease of compliance burden of taxpayers</h2>

        <ul> 
            <li><b>Changes will be allowed in GSTR-1 going forward within same tax period:</b>The GST Council approved implementing a functionality for a new form GSTR-1A that allows taxpayers to add/amend particulars of GSTR-1 of current tax period/IFF for 1st and 2nd month of quarter, that is missed out before filing GSTR-3B.</li>
            <li> <b>Reporting B2C supplies in GSTR-1:</b> The threshold for reporting Business-to-Consumers (B2C) interstate supplies invoice-wise in Table 5 of GSTR-1 will be reduced from Rs.2.5 lakh to Rs.1 lakh.</li>
            <li><b>GSTR-4 Due Date Revised: </b> Extension provided to the due date for filing GSTR-4 by the composition taxable persons from the present 30th of April to 30th of June 2024 from FY 2024-25 onwards.</li>
            <li><b>TCS Rate Reduction: </b>Electronic Commerce Operators (ECOs) had to collect Tax Collected at Source (TCS) at 1% (0.5% each under CGST and SGST/ 1% under IGST) on net taxable supplies under Section 52(1) of the CGST Act. It is recommended to reduce this to 0.5 % (0.25% under CGST and 0.25% under SGST/UTGST/0.5% under IGST).</li>
            <li><b>Compulsory filing of GSTR-7:</b> GSTR-7 must be filed mandatorily even if no TDS is deducted, reported invoice-wise and no late fee will be charged for nil filing.</li>
            <li><b>GSTR-9/9A filing applicability: </b>The filing of annual return in GSTR-9/9A for the FY 2023-24 would be exempted for taxpayers with an aggregate annual turnover upto Rs.2 crore.</li>
            <li><b>Modification to Section 16(4):</b> The time limit to avail ITC for invoices or debit notes in any GSTR-3B filed up to 30th November 2021 (applicable for fiscal years 17-18, 18-19, 19-20 and 20-21) may be deemed to be 30th November 2021, which will apply retrospectively from 1st July 2017. Furthermore, Section 16(4) shall be relaxed where returns for the period from the date of cancellation of registration/ effective date of cancellation of registration till the date of revocation of cancellation of the registration, are filed by the registered person within thirty days of the order of revocation.</li>
            <li><b>Amendment to CGST Rule 88B:</b> The GST Council has recommended not to charge interest on the amount available in the electronic cash ledger on the due date of filing GSTR-3B and is debited while filing the said return in cases of delayed filing of GSTR-3B.</li>
            <li><b>New Section 128A:</b> GST Council has waived interest and penalties for demand notices issued u/s 73 of CGST (applicable for fiscal years 17-18, 18-19 and 19-20) for cases not involving fraud, suppression and misstatement. It is applicable to cases where the taxpayer pays the full amount in the notice by 31st Mar 2025.</li>
            <li><b>Changes in Section 73 and 74:</b> A common time limit will be set for issuing demand notices and orders under both these provisions without differentiating cases as fraud/non-fraud. The time limit for the taxpayers to claim the benefit of reduced penalty, by paying the tax demanded along with interest, would be increased from 30 to 60 days.</li>
            <li><b>Monetary Limits set for GST Appeals:</b> The recommended monetary limits for filing appeals by the department before these legal fora are Rs.20 lakh for GST Appellate Tribunal, Rs.1 crore for HC and Rs.2 crore for SC. </li>
            <li><b>Amending Sections 107 and 112:</b>  The maximum amount for pre-deposit for filing appeal before appellate authorities shall be reduced from Rs.25 crore under CGST and Rs.25 crore under SGST to Rs.20 crore respectively. Moreover, the amount of pre-deposit for appeal before the GST Appellate Tribunal has been reduced from 20% with a maximum amount of Rs.50 crores under CGST and Rs.50 crores under SGST to 10% with a maximum of Rs.20 crores under CGST and Rs.20 crores under SGST.</li>
            <li><b>Sunset Clause to amend Sections 109 & 117:</b> Sunset clause to be added for anti-profiteering cases pending and decision taken to shift the hearing panel from CCI to principal bench of GSTAT. The GST Council has also recommended the sun-set date of 1st April 2025 for receiving any new application regarding anti-profiteering.</li>
            <li><b>Time limit to file appeals before the GSTAT:</b> The GST Council recommended modifying Section 112 to provide a 3 months time for filing appeals before the GST Appellate Tribunal. It will start from a date yet to be notified by the Government, most likely to be announced by 5th August 2024 as this is the last date.</li>
            <li><b>New Section 11A:</b> The new provision allows regularisation of non-levy or short levy of GST, where tax was being underpaid or unpaid due to common trade practices. </li>
            <li><b>IGST Refund due to upward price revisions after exports:</b> A mechanism is being introduced for claiming refund of additional IGST paid due to any upward revision in price of the goods after their export helping taxpayers claim refunds for paying additional IGST due to such move.</li>
            <li><b>No refund of IGST in specific case:</b> Where export duty is payable, IGST will not be refunded by modifying Sections 16 and 54. This applies for both exports and supplies to SEZ unit/developer with or without payment of tax.</li>
            <li><b>Biometric-based Aadhaar Authentication:</b> Those applicants who have opted for Biometric based Aadhaar authentication conducted at the GST Suvidha Kendra will be rolled out for GST registration on all-India basis in a phased manner.</li>
            <li><b>DRC-03 Circular expected to be notified:</b> A circular will be issued to prescribe a mechanism for adjusting any demand amount paid through DRC-03 against the amount payable as pre-deposit for filing GST appeal.</li>
            <li><b>Section 122(1B) to be amended:</b> Amendment will apply retrospectively w.e.f. 1st October 2023, so as to clarify that the said penal provision is applicable only for those e-commerce operators, who are required to collect TCS u/s 52 and not for other e-commerce operators.</li>
        </ul>

    </div>
</section>
<section class="image"></section>
<section class="container-Two">
    <div class="side-heading">
        <h3>Expectations From The Meeting</h3>
    </div>
    <div class="expectation">
        <h1>Expectations from the 53rd GST Council Meeting</h1>
        <h2>Launching GSTR-1A for amendments to GSTR-1</h2>
        <p>The GST Council may introduce the new form GSTR-1A and launch it for taxpayers to submit amednments to details in GSTR-1. It will allow a more accurate reporting in the GST returns.</p>
        <h2>Rate Rationalisation and Rejig</h2>
        <p>The biggest issue expected at this meeting is the GST rate rationalisation and restructuring. Tax relaxation on hybrid cars may not be considered. Last time, 28% GST was levied on online games, horse racing and casinos. The Council will review this charge during this meeting with a possibility of retro tax relief. Further, the Council may reduce the TCS rate chargeable for e-commerce supplies by the online platforms from 1 to 0.5%. <br><br>

            The Group of Ministers has not finalised the recommendations on rate rationalisation under the leadership of UP's FM Suresh Khanna, and members need to regroup due to some no longer continuing State FM posts. The Centre wants to modify the present GST rates of 5%, 12%, 18%, and 28% into three a slab structure. <br><br>
            
            There are speculations that the GST Council will discuss the inclusion of Natural Gas and ATF under GST. The move is expected to ease price pressure along the supply chain of petrochemical players and airlines.</p>

            <h2>Compliance issues on the radar</h2>
            <p>Apart from the rate rejig move, various pressing compliance issues could be addressed. Most importantly, the Council could correct the Inverted Duty Structure (IDS) for multiple sectors, such as textiles and fertiliser. <br><br>

                The textile sector has been facing this issue for a long time now. Due to political opposition, it has never received a consensus. Fertiliser companies may also get some relief as their refunds can be processed after a decision is made. It had been stuck due to the inverted tax structure, but a past Circular paved the way for subsidy. </p>

                <h2>New ISD Rules and its implementation</h2>
                <p>The recent Interim Budget 2024 introduced a new law mandating companies claiming credits under the Input Service Distributors (ISD) mechanism to register as ISDs under the GST law. Earlier, this option was given by the law. With the new law and rules yet to be notified, taxpayers can expect the Council to recommend the detailed rules and timeline at this meeting.</p>

                <h2>Closure of pending Anti-profiteering cases</h2>
                <p>The GST Council may announce a sunset clause for pending anti-profiteering cases by fixing 1 April 2025 as the possible closure date. They may also introduce a database to maintain record of latest status of all the pending cases. If passed, this will be a major move to streamline the GST adjudication procedure. <br><br>

                    All the anti-profiteering cases may be referred to the Principal Bench of the GST Appellate Tribunal (GSTAT) for faster resolution. Moreover, the Council could set monetary limits for the Tribunal, High Courts and Supreme Courts for taking up cases, which could possibly be about Rs.20 lakh, Rs.1 crore and Rs.2 crore respectively.</p>

                    <h2>More items on agenda at this Council meeting</h2>
                    <p>The GST Council may provide clarifications for various taxability issues, starting with the corporate guarantee between related parties for eight scenarios. Next, it may clarify treatment of reimbursement of shares by companies such as ESOPs, ESPPs and RSUs to its employees. <br><br>

                        Another item on the agenda is to clarify the GST applicability on builders for creating and maintainin of highways in various models. They may be liable to pay GST earlier of issuing invoice or receiving payment at 18% when road construction gets completed not linked to payment due date. Further, the interest on instalments payable by NHAI to builders may come under the taxation purview.</p>
    </div>
</section>

</body>
</html>